
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("assets/images/netflixbg1.jpg");
    background-size: 125%;
    height: 95vh;
    position: relative;
    background-position:center 70%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-size: 98vw; */
    
    /* width: 100vw; */
}
body{
    background-color: black;
}
.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
    }
    nav{
        /* background-color: red; */

        display: flex;
        width: 76vw;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        height: 108px;
        /* padding-top: 30px; */
}
nav img{
    width: 200px;
    position:  relative;
    z-index: 1;
}
nav button{
    position:  relative;
    z-index: 1;
}

.content{
    font-family: "Poppins", sans-serif;
    height: calc(100% - 92px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    gap: 23px;
    
    }
    
    .content> :nth-child(1){
        font-size:52px ;
        text-align: center;
    font-weight: 900;
}
.content> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    
}
.content> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    
}
 input{
    border: 1px solid #737171;
    font-size: 1em;
    background-color: rgba(23, 23, 23, 0.6);
    padding: 19px 20px;
    color: white;
    padding-right: 200px;
    border-radius: 4px;
    
    
    /* font-size: 30px; */
    /* font-weight: 400; */
    
    }
    ::placeholder{
        color: rgb(193, 193, 193);
        }
        .seperation{
    height: 9px;
    background-color: rgb(44, 44, 44);
    }
    
    .btn-lang{
        border: 1px solid #737171;
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        background-color: rgba(28, 28, 28, 0.6);
        /* background-color: red; */
        color: white;
        border-radius: 6px;
        font-weight: 500;
        /* padding: 5+px 18px; */
        padding: 6px 28px;
        /* padding: 4px 16px; */
        /* background-color: black; */
        
    }
    .btn-red-sign{
        font-size: 1em;
        padding: 5px 18px;
        background-color: red;
        color: white;
        border-radius: 6px;
        font-weight: 500;
        padding: 7px 16px;
        
        /* padding: 3px 14p x; */
        
        
        }
        .btn-red-get{
            background-color: red;
            color: white;
            padding: 12px 40px;
            padding-right: 60px;
            font-size: 1.875em;
            font-weight: 500;
            border-radius: 6px;
            
}
.email-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;          
}

.first{
    font-family: "Poppins", sans-serif;
    max-width: 70vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin:70px auto 40px auto;
    color: white;
    align-items: center;
    justify-content: center;
    
}

.secImg{
position: relative;
/* z-index: 1; */
}
.secImg img{
    /* width: 100%; */
    width:550px;
    position: relative;
    
    }
    .secImg video{
        position: absolute;
        z-index: -1;
        top: 85px;
        right: 75px;
        width: 400px;
}
.first > div{
    display: flex;
    flex-direction: column ;
}
.first > .content :nth-child(1){
    font-size: 3em;
    font-weight: 900;
    text-align: left;
    color: white;
}
.first > .content :nth-child(2){
    font-size: 1.5em;
    font-weight: 400;
}


.first .content{
    /* width: 90vw; */
   text-align: left;
   align-items: start;


}
.second{
    position: relative;
}
.second .flex{
    border: 2px solid #737171;
    display: flex;
    width: 20vw;
    height: 14vh;
    align-items: center;
    justify-content: center;
    gap:2px 14px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    /* margin-bottom:200px ; */
    /* bottom: 200px; */
    /* position: absolute; */
    position: absolute;
    bottom: 40px;
    right: 190px    ;
    background-color: black;
    /* margin: auto; */
    
}
.second .flex img{
    /* display: flex; */
    width: 4vw;
    height: auto;
}
.second .flex .blue{
    color: blue;
}

.third video{
    top:  53px;
    width: 18.5vw;
    right: 120px;
}

.faq{
    /* margin-top: 4%; */
    color: white;
    text-align: center;
    padding: 34px;
   
}
.faq h1{
    font-size: 48px;
    font-weight: 900;
}

.faqbox svg{
    color: white;

}
.faqbox:hover{
    background-color: #414141;
}
.faqbox{
    transition: all .25s ease-out;
    color: white;
    display: flex;
    margin:34px auto;
    justify-content: space-between;
    background-color:#2d2d2d;
    padding: 44px;

    max-width: 70vw;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
   
}
.faq p{
    font-size: 20px;
    font-weight: 400;

}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    /* max-width: 60vw; */
    /* margin: auto; */
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 34px 0px;
}
footer {
    
    color:rgba(255,255,255,0.7) ;
    max-width: 75vw;
    margin: 40px auto;
    padding: 34px;
}
footer a{
    /* text-decoration: none; */
    color:rgba(255,255,255,0.7) ;
    /* padding: 14px; */

}
.netflix{
    margin: 40px 0px;
}







@media screen and (max-width: 1200px){
   
    nav img{
        width: 90px;
    }
    .main{
        background-size: cover;
    }
    nav{
        width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 350px;
        }
        .secImg video{
            top: 55px;
            right: 31px;
            width: 300px;
    }

    .foot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }

    .content> :nth-child(1){
        font-size:32px;
        }
        .content> :nth-child(2){
            font-size: 18px;
        }
        .content> :nth-child(3){
            font-size: 18px;
        }

        .email-btns{
            flex-wrap: wrap;
        }
        input{
            padding-right:80px ;
        }

       .btn-red-get{
        /* padding: 2px 3px; */
        padding:10px 10px ;
        font-size: 18px;
       }
}

